<div class="container my-2">
  <div class="inicio">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xxl-4 justify-content-center">
      <div class="col p-1" id="IniciarSesion">
        <button type="button" class="btn btn-primary btn-lg p-4 g-2 w-100 option" routerLink="/login">
          Iniciar Sesion
        </button>
      </div>
    </div>
    <div class="hidden mt-4" id="ventas">
      <div class="col-12 p-1">
        <h1 class="text-center">Página de congreso</h1>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xxl-4 justify-content-evenly">
        <div class="col p-1 mb-2" id="verTal">
          <button type="button" class="btn green hover btn-lg p-4 g-2 w-100 option" routerLink="/viewTaller">
            Ver talleres
          </button>
        </div>
        <div class="col p-1 mb-2" id="verConf">
          <button type="button" class="btn yellow hover btn-lg p-4 g-2 w-100 option" routerLink="/viewConf">
            Ver conferencias
          </button>
        </div>
        <div class="col p-1 mb-2" id="regAl">
          <button type="button" class="btn turquoise hover btn-lg p-4 g-2 w-100 option" routerLink="/regTallerista">
            Registrar Alumnos
          </button>
        </div>
        <div class="col p-1 mb-2" id="regTal">
          <button type="button" class="btn red hover btn-lg p-4 g-2 w-100 option" routerLink="/regTaller">
            Registrar Taller
          </button>
        </div>
        <div class="col p-1 mb-2" id="regConf">
          <button type="button" class="btn orange hover btn-lg p-4 g-2 w-100 option" routerLink="/regConf">
            Registrar Conferencia
          </button>
        </div>
      </div>
    </div>
    
  </div>
</div>
